* {
    font-size: 10px;
    font-family: 'Consolas';
   
}

td,
th,
tr,
table {
    /*border-top: 0px solid black;
    border-collapse: collapse;*/
}

td.producto,
th.producto {
    width: 200px;
    max-width: 200px;
    text-align:left;
}


td.cantidad,
th.cantidad {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
} 

td.precio,
th.precio {
    width: 40px;
    max-width: 40px;
    word-break: break-all;
 
    text-align: right;
}

.centrado {
    text-align: center;
    align-content: center;
   
   
}
.derecha {
    text-align: right;
    align-content: right;
   
   
}

.justificado {
    text-align: justify;
    align-content: center;
    
   
}
.ajuste {
   
    align-content: left;
}

.ticket {
    width: 280px;
    max-width: 280px;
}

img {
    max-width: inherit;
    width: inherit;
   
    opacity: 0.5;
}



@media print {
    .oculto-impresion,
    .oculto-impresion * {
        display: none !important;
        max-width: 100px;
    }
}